
.about-me {
  text-align: center;
}
#about-me p{
      color:navy;
      text-align: center;
    }
 a:hover {color:beige;}
    a {
    color:black;
    font-size: large;
    text-decoration: none;
}
.nav-link {
    display: block;
    padding: .15rem .15rem;
    padding-top: 0.15rem;
    padding-right: 1rem;
    padding-bottom: 0.15rem;
    padding-left: 1rem;
}

.lead {
    font-size: 1.25rem;
    font-weight: 500;
    text-align:center ;
}

.carousel-caption d-none d-md-block {color:navy; }
